.middleSection {
  width: 100%;
  padding: 8% 8% 0;
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  gap: 4vw;
  background-color: #c2c2c2;
}

.middleSection-vetorial svg {
  position: absolute;
  width: 100vw;
  top: 16%;
  left: 0;
  height: auto;
  z-index: 0;
  pointer-events: none;
}

.marquee {
  width: 100%;
  height: 30vw;
  overflow: hidden;
  position: absolute;
  z-index: 0;
  top: -13vw;
  left: 0;
}

.marquee-inner {
  position: relative;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template: 1fr / 1fr;
}

.marquee-inner svg {
  backface-visibility: hidden;
}

.marquee-bg-svg {
  color: #c71729;
  grid-area: 1/1;
  z-index: 0;
}

.marquee-text-svg {
  z-index: 1;
  grid-area: 1/1;
}

.marquee-text-svg text {
  fill: var(--color-white);
  letter-spacing: -0.03em;
  text-transform: uppercase;
  font-size: 5rem;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  user-select: none;
}

.marquee-overlay {
  z-index: -1;
  background-color: #c2c2c2;
  clip-path: polygon(66% 40%, 100% 50%, 100% 100%, 0 100%, 0 50%);
  grid-area: 1/1;
  position: relative;
  bottom: 0px;
}

.etapa {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 9;
  gap: 4vw;
}

.etapa img {
  width: 12vw;
}

.etapa .card {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
  background-color: #feb859;
  width: 50%;
  border-radius: 4vw;
  padding: 1vw 2vw 3vw;
}

.etapa .card .iconeCard {
  width: 7vw;
  margin-bottom: 1vw;
  position: absolute;
  right: 6%;
  top: -4%;
  filter: drop-shadow(3px 4px 1px rgba(0, 0, 0, 0.25));
}

.etapa .card .seta {
  position: absolute;
  width: 6vw;
  opacity: 0.7;
  right: 30%;
  top: 16%;
}

.etapa .card h2 {
  font-size: 6vw;
}

.etapa .card p {
  font-size: clamp(16px, 1.5vw, 1.5vw);
}

.etapa.laranja .seta {
  transform: rotate(40deg);
}

.etapa.laranja .lataEtapa {
  transform: rotate(20deg);
}

.etapa.azul .card {
  background-color: #57c3ee;
}

.etapa.azul .seta {
  right: 5%;
  top: 40%;
  transform: rotate(20deg);
}

.etapa.verde .card {
  background-color: #39b88d;
}

.etapa.verde .seta {
  right: -1%;
  top: 35%;
  transform: rotate(165deg) scaleY(1);
}